.form-container {
    max-width: 400px;
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}
.register-form{
    display: flex;
    flex-direction: column; 
}

@media (min-width: 600px) {
    .form-container {
        padding: 24px;
    }
}

/* Large screens */
@media (min-width: 1024px) {
    .form-container {
        margin: 80px auto;
    }
}
